.images {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}
.images img {
    max-width: 100%;
}

.creator a {
    color: #000;
    text-decoration: underline;
    font-size: 20px;
}
.album-info {
    font-size: 24px;
}
